@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(246, 155, 238, 0.8),
        hsla(297, 89%, 21%, 0.8)   
    )!important;
}

.glow {
  transition: all 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 25px rgb(206, 71, 193);
}

.img_glow {
  box-shadow: 0 0 35px rgb(206, 71, 193);
}

.neno-button {
  transition: all 0.3s ease-in-out;
}

.neno-button:hover {
  box-shadow: 0 0 15px rgb(206, 71, 193);
}

.b_glow{
  box-shadow: 0 0 15px rgb(206, 71, 193);
}